
body {
    background-color: #4ff31d;
}

.topbar {
	background: #2A3F54;
	border-color: #2A3F54;
	border-radius: 0px;
}

.topbar .navbar-header a {
	color: #ffffff;
}

.ex{
    background-color: #191970 ;
    width: 8rem;
    color: #ffffff;
    
}

.titulo{
    height: 50px;
}

.box{
    padding: 10px 10px 10px 10px;
}


.fila, .agent, .tma, .tme{
    background-color: #008000;
}

