


.topbar {
	background: #2A3F54;
	border-color: #2A3F54;
	border-radius: 0px;
}

.topbar .navbar-header a {
	color: #F1F6EE;
}

.ex{
    background-color: #294452 ;
    width: 8rem;
    color: #F1F6EE;
    
}

.titulo{
    height: 50px;
}

.box{
    padding: 20px 5px 5px 5px;
    background-color: #98AEAE;
    height: 100vh;
}


.fila, .agent, .tma, .tme{
    background-color: #127639;
}

.dot {
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 10px;
    height: 15px;
    width: 15px;
    background-color: #127639;
    border-radius: 50%;
    display: inline-block;
  }

  .rec {
      background-color: #127639;
  }

